<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Arrow</title>
    <style>
        #table1 {
            display: block;
            width: 100%;
            height: 750px;
            border-collapse: separate;
            border-spacing: 0;
            overflow-y: scroll;
            /*-moz-hyphens: auto;*/
            -webkit-hyphens: auto;
            -ms-hyphens: auto;
        }

        #table2 {
            display: block;
            width: 100%;
            height: 300px;
            border-collapse: separate;
            border-spacing: 0;
            overflow-y: scroll;
            /*-moz-hyphens: auto;*/
            -webkit-hyphens: auto;
            -ms-hyphens: auto;
        }

        #table3 {
            display: block;
            width: 100%;
            height: 400px;
            border-collapse: separate;
            border-spacing: 0;
            overflow-y: scroll;
            /*-moz-hyphens: auto;*/
            -webkit-hyphens: auto;
            -ms-hyphens: auto;
        }

        .head {
            position: sticky;
            top: 0;
            text-align: left;
            vertical-align: top;
        }

        /* NAVBAR */
        .nav-container {
            display: flex;
            justify-content: space-between;
            background-color: rgb(0, 0, 0);
        }

        .nav-container > nav > ul {
            display: flex;
            list-style: none;
            align-items: center;
            margin: 0;
            padding: 0;
        }

        .nav-container > nav > ul > li > a {
            display: block;
            border-style: solid;
            border-width: 0.5px;
        }

        @media (max-width: 900px) {
            .nav-container {
                flex-direction: column;
            }
        }
    </style>
</head>
<body>
<head>
    <div class="section">
        <div class="nav-container">
            <nav>
                <ul>
                    <li>
                        <form th:action="@{/logout}" method="post">
                            <input type="submit" class="btn btn-danger btn-sm m-2" value="Выход">
                        </form>
                    </li>
                    <li>
                        <div class="btn-group m-2">

                            <a th:href="@{/general}">
                                <button type="button" class="btn btn-light btn-sm">Главное меню</button>
                            </a>
                            <button type="button" class="btn btn-light btn-sm dropdown-toggle dropdown-toggle-split"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                            </button>
                            <ul class="dropdown-menu"
                                style="width: 700px; justify-content: space-between; text-align: center">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12">
                                            <div class="content row">
                                                <div class="column col-lg-4 col-md-6">
                                                    <div class="name-of-column mb-2">
                                                        <span>ПЕРСОНАЛ</span>
                                                    </div>
                                                    <div
                                                            sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_EMPLOYEE_VIEW')">
                                                        <a th:href="@{/general/employee}">
                                                            <button style="width: 210px; text-align: center"
                                                                    type="button"
                                                                    class="btn btn-outline-success btn-sm">
                                                                Работники
                                                            </button>
                                                        </a>
                                                    </div>
                                                    <div
                                                            sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_PROFESSION_VIEW')">
                                                        <a th:href="@{/general/profession}">
                                                            <button style="width: 210px; text-align: center"
                                                                    type="button"
                                                                    class="btn btn-outline-success btn-sm">
                                                                Должности
                                                            </button>
                                                        </a>
                                                    </div>
                                                    <div
                                                            sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_DEPARTMENT_VIEW')">
                                                        <a th:href="@{/general/department}">
                                                            <button style="width: 210px; text-align: center"
                                                                    type="button"
                                                                    class="btn btn-outline-success btn-sm">
                                                                Структурные подразделения
                                                            </button>
                                                        </a>
                                                    </div>
                                                    <div
                                                            sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_SCHEDULE_VIEW')">
                                                        <a th:href="@{/general/schedule}">
                                                            <button style="width: 210px; text-align: center"
                                                                    type="button"
                                                                    class="btn btn-outline-success btn-sm">
                                                                Штатное расписание
                                                            </button>
                                                        </a>
                                                    </div>
                                                    <div
                                                            sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_VOCATION_VIEW')">
                                                        <a th:href="@{/general/vocation}">
                                                            <button style="width: 210px; text-align: center"
                                                                    type="button"
                                                                    class="btn btn-outline-success btn-sm">
                                                                График отпусков
                                                            </button>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-6">
                                                    <div class="name-of-column mb-2">
                                                        <span>АКТИВЫ</span>
                                                    </div>
                                                    <div
                                                            sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_STORE_PERS_INSTR_VIEW')">
                                                        <a th:href="@{/general/p_instrument/catalog}">
                                                            <button style="width: 210px; text-align: center"
                                                                    type="button"
                                                                    class="btn btn-outline-success btn-sm">
                                                                Инструмент персональный
                                                            </button>
                                                        </a>
                                                    </div>
                                                    <div
                                                            sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_STORE_WORK_INSTR_VIEW')">
                                                        <a th:href="@{/general/w_instrument/catalog}">
                                                            <button style="width: 210px; text-align: center"
                                                                    type="button"
                                                                    class="btn btn-outline-success btn-sm">
                                                                Инструмент строительный
                                                            </button>
                                                        </a>
                                                    </div>
                                                    <div
                                                            sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_STORE_MEAS_INSTR_VIEW')">
                                                        <a th:href="@{/general/m_instrument/catalog}">
                                                            <button style="width: 210px; text-align: center"
                                                                    type="button"
                                                                    class="btn btn-outline-success btn-sm">
                                                                Инструмент измерительный
                                                            </button>
                                                        </a>
                                                    </div>
                                                    <div
                                                            sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_STORE_SCLOTH_VIEW')">
                                                        <a th:href="@{/general/s_cloth/catalog}">
                                                            <button style="width: 210px; text-align: center"
                                                                    type="button"
                                                                    class="btn btn-outline-success btn-sm">
                                                                Спецодежда и СИЗ
                                                            </button>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-6">
                                                    <div class="name-of-column mb-2">
                                                        <span>ДЕЯТЕЛЬНОСТЬ</span>
                                                    </div>
                                                    <div
                                                            sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_WORK_OBJECT_VIEW')">
                                                        <a th:href="@{/general/workobject}">
                                                            <button style="width: 210px; text-align: center"
                                                                    type="button"
                                                                    class="btn btn-outline-success btn-sm">
                                                                Объекты работ
                                                            </button>
                                                        </a>
                                                    </div>
                                                    <div
                                                            sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_CONSTR_CONTROL_VIEW')">
                                                        <a th:href="@{/general/constr_control}">
                                                            <button style="width: 210px; text-align: center"
                                                                    type="button"
                                                                    class="btn btn-outline-success btn-sm">
                                                                Строительный контроль
                                                            </button>
                                                        </a>
                                                    </div>
                                                    <div
                                                            sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_DOCUMENT_VIEW')">
                                                        <a th:href="@{/general/documentCommunity}">
                                                            <button style="width: 210px; text-align: center"
                                                                    type="button"
                                                                    class="btn btn-outline-success btn-sm">
                                                                Документация общества
                                                            </button>
                                                        </a>
                                                    </div>
                                                    <div
                                                            sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_PERSPECTIVE_VIEW')">
                                                        <a th:href="@{/general/perspective}">
                                                            <button style="width: 210px; text-align: center"
                                                                    type="button"
                                                                    class="btn btn-outline-success btn-sm">
                                                                Перспективные объекты
                                                            </button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a th:href="@{/general/workobject}">
                                <button type="button" class="btn btn-warning btn-sm m-2">Назад</button>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a th:href="@{/general/workobject/workobjectJournal/{id}(id=${workObject.workObjectId})}">
                                <button type="button" class="btn btn-success btn-sm m-2">Журнал изменений</button>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_WORK_OBJECT_UPDATE')">
                            <a th:href="@{/general/workobject/workobjectUpdate/{id}(id=${workObject.workObjectId})}"
                               th:unless="${workObject.workObjectStatusENUM.getTitle() == 'Закрыт'}">
                                <button type="button" class="btn btn-primary btn-sm  m-2" aria-pressed="true">
                                    Править
                                </button>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_WORK_OBJECT_DELETE')">
                            <a th:href="@{/general/workobject/workobjectDelete/{id}(id=${workObject.workObjectId})}">
                                <button onclick="return confirm('Вы действительно хотите безвозвратно удалить эти данные?');"
                                        type="button" class="btn btn-danger btn-sm m-2" aria-pressed="true">
                                    Удалить
                                </button>
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <title></title>
</head>
<div class="tableContainer m-2">
    <h5 style="font-weight: 700">Просмотр данных объекта строительства</h5>
    <hr>
    <table>
        <td>
            <table class="table table-hover table-sm m-2" style="width: 835px; text-align: center" id="table1">
                <thead class="head">
                <tr class="table-secondary" style="text-align: left; vertical-align: top">
                    <th style="width: 50px; text-align: left" scope="col">#</th>
                    <th style="width: 250px; text-align: left" scope="col">Атрибут</th>
                    <th style="width: 500px; text-align: left" scope="col">Параметр</th>
                </tr>
                </thead>
                <tbody class="body">
                <tr>
                    <th style="text-align: left">
                    <th style="text-align: left"><label>Статус:</label></th>
                    <td style="text-align: left; width: 600px"><span
                            th:text="${workObject.workObjectStatusENUM.getTitle()}"></span>
                </tr>
                <tr>
                    <th style="text-align: left">001</th>
                    <td style="text-align: left">#ID</td>
                    <td style="text-align: left"><span th:text="${workObject.workObjectId}"></span>
                </tr>
                <tr>
                    <th style="text-align: left">002</th>
                    <td style="text-align: left">№ Заказа (внутр.)</td>
                    <td style="text-align: left"><span th:text="${workObject.workObjectOrder}"></span>
                </tr>
                <tr>
                    <th style="text-align: left">003</th>
                    <td style="text-align: left">№ Лота</td>
                    <td style="text-align: left"><span th:text="${workObject.workObjectLot}"></span>
                </tr>
                <tr>
                    <th style="text-align: left">004</th>
                    <td style="text-align: left">Наименование объекта строительства</td>
                    <td style="text-align: left">
                        <span style="white-space: pre-wrap" th:text="${workObject.workObjectName}"></span>
                </tr>
                <tr>
                    <th style="text-align: left">005</th>
                    <td style="text-align: left">Заказчик</td>
                    <td style="text-align: left"><span th:text="${workObject.workObjectCustomer}"></span>
                </tr>
                <tr>
                    <th style="text-align: left">006</th>
                    <td style="text-align: left">Номер договора Заказчик - Генподрядчик (Заказчик - ТИК)</td>
                    <td style="text-align: left">
                    <span th:with="x=${workObject.workObjectContractCustomerTotGeneralContractor != null}">
                        <span th:if="${x}">
                            <span style="white-space: pre-wrap"
                                  th:text="${workObject.workObjectContractCustomerTotGeneralContractor}"></span></span>
                        <span th:unless="${x}" style="color: rgba(0,0,0,0.5)">
                            <span th:text="${'не указан'}"></span></span>
                    </span>
                </tr>
                <tr>
                    <th style="text-align: left">007</th>
                    <td style="text-align: left">Генподрядчик</td>
                    <td style="text-align: left">
                    <span th:with="x=${workObject.workObjectGeneralContractor != null}">
                        <span th:if="${x}">
                            <span style="white-space: pre-wrap"
                                  th:text="${workObject.workObjectGeneralContractor}"></span></span>
                        <span th:unless="${x}" style="color: rgba(0,0,0,0.5)">
                            <span th:text="${'не указан'}"></span></span>
                    </span>
                </tr>
                <tr>
                    <th style="text-align: left">008</th>
                    <td style="text-align: left">Номер договора ТИК - Генподрядчик</td>
                    <td style="text-align: left">
                    <span th:with="x=${workObject.workObjectContractContractorTotGeneralContractor != null}">
                        <span th:if="${x}">
                            <span style="white-space: pre-wrap"
                                  th:text="${workObject.workObjectContractContractorTotGeneralContractor}"></span></span>
                        <span th:unless="${x}" style="color: rgba(0,0,0,0.5)">
                            <span th:text="${'не указан'}"></span></span>
                    </span>
                </tr>
                <tr>
                    <th style="text-align: left">009</th>
                    <td style="text-align: left">Предмет договора</td>
                    <td style="text-align: left">
                    <span th:with="x=${workObject.valueOfContract != null}">
                        <span th:if="${x}">
                            <span th:text="${workObject.valueOfContract}"></span>
                        </span>
                        <span th:unless="${x}">
                            <span style="color: rgba(0,0,0,0.5)" th:text="${'не указан'}"></span>
                        </span>
                    </span>
                </tr>
                <tr>
                    <th style="text-align: left">010</th>
                    <td style="text-align: left">Сумма контракта ТИК - Генподрядчик (Заказчик), с НДС (20%)</td>
                    <td style="text-align: left">
                        <div sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_WORK_OBJECT_FINANCE')">
                        <span th:with="x=${workObject.priceOfContract != null}">
                            <span th:if="${x}">
                                <span th:text="${workObject.priceOfContract + ' руб.'}"></span>
                            </span>
                            <span th:unless="${x}">
                                <span style="color: rgba(0,0,0,0.5)" th:text="${'не установлена'}"></span>
                            </span>
                        </span>
                        </div>
                </tr>
                <tr>
                    <th style="text-align: left">011</th>
                    <td style="text-align: left">Аванс</td>
                    <td style="text-align: left">
                        <div sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_WORK_OBJECT_FINANCE')">
                        <span th:text="${workObject.valueOfDeposit == null}? 'не установлен' :
                        ${workObject.valueOfDeposit + ' %'}"></span>
                        </div>
                </tr>
                <tr>
                    <th style="text-align: left">012</th>
                    <td style="text-align: left">Срок контракта</td>
                    <td style="text-align: left">
                    <span th:text="${workObject.dateOfStart == null && workObject.dateOfEnd == null}?
                'не установлен' : ${'Начало: ' + workObject.dateOfStart + ' | Окончание: ' + workObject.dateOfEnd}"></span>
                </tr>
                <tr>
                    <th style="text-align: left">013</th>
                    <td style="text-align: left">Руководитель проекта</td>
                    <td style="text-align: left">
                    <span th:with="x=${workObject.workObjectChief != null}">
                        <span th:if="${x}">
                            <a th:href="@{/general/employee/employeeView/{id}(id=${workObject.workObjectChief.empId})}">
                                <button style="width: 450px; text-align: left" type="button"
                                        class="btn btn-outline-dark btn-sm">
                                    <span th:text="${workObject.workObjectChief} +
                                    ${', ' + workObject.workObjectChief.profession.getProfessionName}"></span>
                                </button></a></span>
                        <span th:unless="${x}">
                            <span style="color: rgba(0,0,0,0.5)" th:text="${'не назначен'}"></span></span>
                    </span>
                </tr>
                <tr>
                    <th style="text-align: left">014</th>
                    <td style="text-align: left">Ответственные ПТО</td>
                    <td style="text-align: left">
                    <span th:with="x=${workObject.PTOList.size() != 0}">
                        <span th:each="emp:${workObject.PTOList}">
                        <span th:if="${x}">
                            <a th:href="@{/general/employee/employeeView/{id}(id=${emp.empId})}">
                                <button style="width: 450px; text-align: left" type="button"
                                        class="btn btn-outline-dark btn-sm">
                                    <span th:text="${emp} + ${', ' + emp.profession.getProfessionName}"></span>
                                </button></a></span>
                        </span>
                        <span th:unless="${x}">
                            <span style="color: rgba(0,0,0,0.5)" th:text="${'не назначены'}"></span></span>
                    </span>
                </tr>
                <tr>
                    <th style="text-align: left">015</th>
                    <td style="text-align: left">Куратор от Заказчика</td>
                    <td style="text-align: left">
                    <span th:with="x=${workObject.chiefOfCustomer != null}">
                        <span th:if="${x}">
                            <span style="white-space: pre-wrap" th:text="${workObject.chiefOfCustomer}"></span>
                        </span>
                        <span th:unless="${x}">
                            <span style="color: rgba(0,0,0,0.5)" th:text="${'не указан'}"></span>
                        </span>
                    </span>
                </tr>
                <tr>
                    <th style="text-align: left">016</th>
                    <td style="text-align: left">Акты-предупреждения</td>
                    <td style="text-align: left">
                        <a th:href="@{/general/constr_control/constr_controlWarnings/{id}(id=${workObject.workObjectId})}">
                            <button style="text-align: left; width: 450px" type="button"
                                    class="btn btn-outline-dark btn-sm">
                            <span th:text="${'Действующих: ' + workObject.constructionControlActive +
                                ' | Закрытых: ' + workObject.constructionControlClosed +
                                ' | Всего: ' + (workObject.totalCount)}"></span>
                            </button>
                        </a><br></td>
                </tr>
                <tr>
                    <th style="text-align: left">017</th>
                    <td style="text-align: left">Адрес/локация производства работ</td>
                    <td style="text-align: left">
                    <span th:with="x=${workObject.workObjectLocalAddress != null}">
                        <span th:if="${x}">
                            <span style="white-space: pre-wrap" th:text="${workObject.workObjectLocalAddress}"></span>
                        </span>
                        <span th:unless="${x}">
                            <span style="color: rgba(0,0,0,0.5)" th:text="${'не указан'}"></span>
                        </span>
                    </span>
                </tr>
                <tr>
                    <th style="text-align: left">018</th>
                    <td style="text-align: left">Адрес склада</td>
                    <td style="text-align: left">
                    <span th:with="x=${workObject.workObjectStorageAddress != null}">
                        <span th:if="${x}">
                            <span style="white-space: pre-wrap" th:text="${workObject.workObjectStorageAddress}"></span>
                        </span>
                        <span th:unless="${x}">
                            <span style="color: rgba(0,0,0,0.5)" th:text="${'не указан'}"></span>
                        </span>
                    </span>
                </tr>

                <tr>
                    <th style="text-align: left">019</th>
                    <td style="text-align: left">Ответственный за склад/инструмент</td>
                    <td style="text-align: left">
                    <span th:with="x=${workObject.storeKeeperList.size() != 0}">
                        <span th:each="emp:${workObject.storeKeeperList}">
                        <span th:if="${x}">
                            <a th:href="@{/general/employee/employeeView/{id}(id=${emp.empId})}">
                                <button style="width: 450px; text-align: left" type="button"
                                        class="btn btn-outline-dark btn-sm">
                                    <span th:text="${emp} + ${', ' + emp.profession.getProfessionName}"></span>
                                </button></a></span>
                        </span>
                        <span th:unless="${x}">
                            <span style="color: rgba(0,0,0,0.5)" th:text="${'не назначены'}"></span></span>
                    </span>
                </tr>
                <tr>
                    <th style="text-align: left">020</th>
                    <td style="text-align: left">Ответственные ОМТР</td>
                    <td style="text-align: left">
                    <span th:with="x=${workObject.supplierList.size() != 0}">
                        <span th:each="emp:${workObject.supplierList}">
                        <span th:if="${x}">
                            <a th:href="@{/general/employee/employeeView/{id}(id=${emp.empId})}">
                                <button style="width: 450px; text-align: left" type="button"
                                        class="btn btn-outline-dark btn-sm">
                                    <span th:text="${emp} + ${', ' + emp.profession.getProfessionName}"></span>
                                </button></a></span>
                        </span>
                        <span th:unless="${x}">
                            <span style="color: rgba(0,0,0,0.5)" th:text="${'не назначены'}"></span></span>
                    </span>
                </tr>
                <tr>
                    <th style="text-align: left">021</th>
                    <td style="text-align: left">Документация объекта строительства</td>
                    <td style="text-align: left">
                        <a th:href="@{/general/workObject/workObjectDocument/{id}(id=${workObject.workObjectId})}">
                            <button type="button" class="btn btn-outline-primary btn-sm">Перейти
                            </button>
                        </a>
                </tr>
                <tr>
                    <th style="text-align: left">022</th>
                    <td style="text-align: left">Комментарий</td>
                    <td style="text-align: left">
                        <span style="white-space: pre-wrap" th:text="${workObject.workObjectComment}"></span>
                </tr>
                </tbody>
            </table>
        </td>
        <td>
            <h6 style="font-weight: 700; text-align: center">Задействованные инструменты и техника</h6>
            <table class="table table-hover table-sm" style="width: 1000px; text-align: center" id="table2">
                <thead class="head">
                <tr class="table-secondary" style="text-align: left; vertical-align: top">
                    <th style="width: 50px; text-align: left" scope="col">#</th>
                    <th style="width: 250px; text-align: left" scope="col">Атрибут</th>
                    <th style="width: 700px; text-align: left" scope="col">Параметр</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th style="text-align: left">023</th>
                    <td style="text-align: left">Инструмент строительный</td>
                    <td style="text-align: left"><span th:each="workInstr:${workObject.workInstrumentList}">
                        <a th:href="@{/general/w_instrument/w_instrumentView/{id}(id=${workInstr.workInstrId})}">
                            <button style="text-align: left; width: 680px" type="button"
                                    class="btn btn-outline-dark btn-sm"><span
                                    th:text="${workInstr} + ${', ' + workInstr.getTechnicalConditionENUM().getTitle()}">
                            </span></button></a><br></span>
                </tr>
                <tr>
                    <th style="text-align: left">024</th>
                    <td style="text-align: left">Инструмент измерительный</td>
                    <td style="text-align: left"><span th:each="measInstr:${workObject.measInstrumentList}">
                        <a th:href="@{/general/m_instrument/m_instrumentView/{id}(id=${measInstr.measInstrId})}">
                            <button style="text-align: left; width: 680px" type="button"
                                    class="btn btn-outline-dark btn-sm"><span
                                    th:text="${measInstr} + ${', ' + measInstr.getTechnicalConditionENUM().getTitle()}">
                            </span></button></a><br></span>
                </tr>
                </tbody>
            </table>
            <table class="table table-hover table-sm" style="width: 1000px" id="table3">
                <thead class="head">
                <tr class="table-secondary" style="text-align: left; vertical-align: top">
                    <th style="width: 1000px; text-align: center">
                        Документация объекта строительства общая
                        <div sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_WORK_OBJECT_DOCUMENTS')">
                            <form id="uploadFiles" name="uploadFiles" method="post"
                                  th:action="@{/general/workobject/workobjectView/{id}(id=${workObject.workObjectId})}"
                                  encType="multipart/form-data">
                                <span th:text="${error}" style="font-size: 13px; color: brown"></span>
                                <input type="file" name="files" multiple required/>
                                <button type="submit" class="btn btn-outline-success btn-sm">Загрузить</button>
                            </form>
                        </div>
                    </th>
                </tr>
                </thead>
                <tbody class="body">
                <tr>
                    <td>
                        <table class="table-hover table-sm">
<!--                            <thead>-->
<!--                            <td style="width: 600px; text-align: left; font-size: 14px">Наименование документа</td>-->
<!--                            <td style="width: 200px; text-align: left; font-size: 14px">Автор загрузки</td>-->
<!--                            <td style="width: 150px; text-align: left; font-size: 14px">Дата и время</td>-->
<!--                            <td style="width: 50px; text-align: center"></td>-->
<!--                            </thead>-->
                            <tbody>
                            <tr th:each="doc:${workObject.documentWorkObjectComList}">
                                <td>
                                    <span th:if="${doc.docName}">
                                        <a th:href="@{/general/documentWorkobject/downloadFile/{id}(id=${doc.docId})}">
                                            <button style="text-align: left; width: 550px" type="button"
                                                    class="btn btn-outline-dark btn-sm"><span
                                                    th:text="${doc.docName}"></span></button>
                                        </a></span>
                                </td>
                                <td>
                                    <span th:with="x=${doc.author.employee != null}">
                                        <span th:if="${x}">
                                            <a th:href="@{/general/employee/employeeView/{id}(id=${doc.author.employee.empId})}">
                                                <button style="width: 180px; text-align: left"
                                                        type="button" class="btn btn-outline-dark btn-sm">
                                                    <span th:text="(${doc.author.employee})"></span>
                                                </button></a>
                                        </span>
                                        <span th:unless="${x}">
                                            <span th:text="${'Администратор'}"></span>
                                        </span>
                                    </span>
                                </td>
                                <td style="width: 150px; font-size: 14px"
                                    th:text="${#temporals.format(doc.dateAndTimeLastChange,'dd-MM-yyyy HH:mm:ss')}"></td>
                                <td style="width: 50px; text-align: center">
                                    <div sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_WORK_OBJECT_DOCUMENTS')">
                                        <a th:href="@{/general/documentWorkobject/documentDelete/{id}(id=${doc.docId})}">
                                            <button type="button"
                                                    class="btn btn-outline-danger btn-sm"
                                                    style="height: 25px; vertical-align: center">X
                                            </button>
                                        </a>
                                    </div>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>