<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.min.css">
    <title>WebInterface</title>
    <style>
        .table {
            display: block;
            width: 100%;
            height: 750px;
            border-collapse: separate;
            border-spacing: 0;
            overflow-y: scroll;
            /*-moz-hyphens: auto;*/
            -webkit-hyphens: auto;
            -ms-hyphens: auto;
        }

        .head {
            position: sticky;
            top: 0;
            text-align: left;
            vertical-align: top;
        }

        /* NAVBAR */
        .nav-container {
            display: flex;
            justify-content: space-between;
            background-color: rgb(0, 0, 0);
        }

        .nav-container > nav > ul {
            display: flex;
            list-style: none;
            align-items: center;
            margin: 0;
            padding: 0;
        }

        .nav-container > nav > ul > li > a {
            display: block;
            border-style: solid;
            border-width: 0.5px;
        }

        @media (max-width: 900px) {
            .nav-container {
                flex-direction: column;
            }
        }
    </style>
</head>
<body>
<form th:action="@{/general/profession/professionUpdate}" th:method="post" th:object="${profession}">
    <div>
        <head>
            <div class="section">
                <div class="nav-container">
                    <nav>
                        <ul>
                            <li>
                                <div class="btn-group m-2">
                                    <a th:href="@{/general}">
                                        <button type="button" class="btn btn-light btn-sm">Главное меню</button>
                                    </a>
                                    <button type="button"
                                            class="btn btn-light btn-sm dropdown-toggle dropdown-toggle-split"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                    </button>
                                    <ul class="dropdown-menu"
                                        style="width: 700px; justify-content: space-between; text-align: center">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12">
                                                    <div class="content row">
                                                        <div class="column col-lg-4 col-md-6">
                                                            <div class="name-of-column mb-2">
                                                                <span>ПЕРСОНАЛ</span>
                                                            </div>
                                                            <div
                                                                    sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_EMPLOYEE_VIEW')">
                                                                <a th:href="@{/general/employee}">
                                                                    <button style="width: 210px; text-align: center"
                                                                            type="button"
                                                                            class="btn btn-outline-success btn-sm">
                                                                        Работники
                                                                    </button>
                                                                </a>
                                                            </div>
                                                            <div
                                                                    sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_PROFESSION_VIEW')">
                                                                <a th:href="@{/general/profession}">
                                                                    <button style="width: 210px; text-align: center"
                                                                            type="button"
                                                                            class="btn btn-outline-success btn-sm">
                                                                        Должности
                                                                    </button>
                                                                </a>
                                                            </div>
                                                            <div
                                                                    sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_DEPARTMENT_VIEW')">
                                                                <a th:href="@{/general/department}">
                                                                    <button style="width: 210px; text-align: center"
                                                                            type="button"
                                                                            class="btn btn-outline-success btn-sm">
                                                                        Структурные подразделения
                                                                    </button>
                                                                </a>
                                                            </div>
                                                            <div
                                                                    sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_SCHEDULE_VIEW')">
                                                                <a th:href="@{/general/schedule}">
                                                                    <button style="width: 210px; text-align: center"
                                                                            type="button"
                                                                            class="btn btn-outline-success btn-sm">
                                                                        Штатное расписание
                                                                    </button>
                                                                </a>
                                                            </div>
                                                            <div
                                                                    sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_VOCATION_VIEW')">
                                                                <a th:href="@{/general/vocation}">
                                                                    <button style="width: 210px; text-align: center"
                                                                            type="button"
                                                                            class="btn btn-outline-success btn-sm">
                                                                        График отпусков
                                                                    </button>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-md-6">
                                                            <div class="name-of-column mb-2">
                                                                <span>АКТИВЫ</span>
                                                            </div>
                                                            <div
                                                                    sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_STORE_PERS_INSTR_VIEW')">
                                                                <a th:href="@{/general/p_instrument/catalog}">
                                                                    <button style="width: 210px; text-align: center"
                                                                            type="button"
                                                                            class="btn btn-outline-success btn-sm">
                                                                        Инструмент персональный
                                                                    </button>
                                                                </a>
                                                            </div>
                                                            <div
                                                                    sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_STORE_WORK_INSTR_VIEW')">
                                                                <a th:href="@{/general/w_instrument/catalog}">
                                                                    <button style="width: 210px; text-align: center"
                                                                            type="button"
                                                                            class="btn btn-outline-success btn-sm">
                                                                        Инструмент строительный
                                                                    </button>
                                                                </a>
                                                            </div>
                                                            <div
                                                                    sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_STORE_MEAS_INSTR_VIEW')">
                                                                <a th:href="@{/general/m_instrument/catalog}">
                                                                    <button style="width: 210px; text-align: center"
                                                                            type="button"
                                                                            class="btn btn-outline-success btn-sm">
                                                                        Инструмент измерительный
                                                                    </button>
                                                                </a>
                                                            </div>
                                                            <div
                                                                    sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_STORE_SCLOTH_VIEW')">
                                                                <a th:href="@{/general/s_cloth/catalog}">
                                                                    <button style="width: 210px; text-align: center"
                                                                            type="button"
                                                                            class="btn btn-outline-success btn-sm">
                                                                        Спецодежда и СИЗ
                                                                    </button>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-md-6">
                                                            <div class="name-of-column mb-2">
                                                                <span>ДЕЯТЕЛЬНОСТЬ</span>
                                                            </div>
                                                            <div
                                                                    sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_WORK_OBJECT_VIEW')">
                                                                <a th:href="@{/general/workobject}">
                                                                    <button style="width: 210px; text-align: center"
                                                                            type="button"
                                                                            class="btn btn-outline-success btn-sm">
                                                                        Объекты работ
                                                                    </button>
                                                                </a>
                                                            </div>
                                                            <div
                                                                    sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_CONSTR_CONTROL_VIEW')">
                                                                <a th:href="@{/general/constr_control}">
                                                                    <button style="width: 210px; text-align: center"
                                                                            type="button"
                                                                            class="btn btn-outline-success btn-sm">
                                                                        Строительный контроль
                                                                    </button>
                                                                </a>
                                                            </div>
                                                            <div
                                                                    sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_DOCUMENT_VIEW')">
                                                                <a th:href="@{/general/documentCommunity}">
                                                                    <button style="width: 210px; text-align: center"
                                                                            type="button"
                                                                            class="btn btn-outline-success btn-sm">
                                                                        Документация общества
                                                                    </button>
                                                                </a>
                                                            </div>
                                                            <div
                                                                    sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_PERSPECTIVE_VIEW')">
                                                                <a th:href="@{/general/perspective}">
                                                                    <button style="width: 210px; text-align: center"
                                                                            type="button"
                                                                            class="btn btn-outline-success btn-sm">
                                                                        Перспективные объекты
                                                                    </button>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <button onclick="return confirm('Вы действительно хотите внести изменения?');"
                                            class="btn btn-success btn-sm m-2" type="submit">Обновить
                                    </button>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a th:href="@{/general/profession/professionView/{id}(id=${profession.profId})}">
                                        <button type="button" class="btn btn-primary btn-sm m-2">Назад</button>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <title></title>
        </head>
        <div class="tableContainer m-2">
            <h5 style="font-weight: 700;">Обновление данных должности</h5>
            <hr>
            <table class="table table-hover table-sm" style="width: 950px">
                <thead class="head">
                <tr class="table-secondary" style="text-align: left; vertical-align: top">
                    <th style="width: 50px; text-align: left">#</th>
                    <th style="width: 250px; text-align: left">Атрибут</th>
                    <th style="width: 600px; text-align: left">Параметр</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th style="text-align: left"></th>
                    <th style="text-align: left"><label>Статус: </label></th>
                    <td style="text-align: left">
                        <select style="width: 200px" class="form-select form-select-sm" name="profAndDepStatusENUM"
                                id="status" onchange="i()">
                            <option th:each="stat:${professionStatus}"
                                    th:field="${profession.profAndDepStatusENUM}"
                                    th:value="${stat}"
                                    th:text="${stat.getTitle()}">
                            </option>
                        </select>
                        <br>
                        <div id="closeDate" style="display: none; text-align: right" class="item">
                            <p>Дата закрытия: <input type="date" th:field="${profession.closeDate}" id="closeDatePool">
                            </p>
                            <script>
                                let closeDateMax = document.getElementById('closeDatePool');
                                closeDateMax.max = new Date().toISOString().split('T')[0];
                            </script>
                            <p if="${#fields.hasErrors('closeDate')}" th:errors="${profession.closeDate}"></p>
                        </div>
                        <script>
                            function i() {
                                let status = document.getElementById("status");
                                let selectStatus = status.options[status.selectedIndex].textContent;
                                let isStatus = selectStatus === "Закрыт"
                                let closeDate = document.getElementById("closeDate");
                                if (isStatus) {
                                    closeDate.style.display = 'block';
                                    document.getElementById('closeDatePool').setAttribute('required', 'true');
                                } else {
                                    closeDate.style.display = 'none';
                                    document.getElementById('closeDatePool').removeAttribute('required');
                                }
                            }
                        </script>
                        <script>
                            let status = document.getElementById("status");
                            let selectStatus = status.options[status.selectedIndex].textContent;
                            let isStatus = selectStatus === "Закрыт"
                            let closeDate = document.getElementById("closeDate");
                            if (isStatus) {
                                closeDate.style.display = 'block';
                                document.getElementById('closeDatePool').setAttribute('required', 'true');
                            } else {
                                closeDate.style.display = 'none';
                                document.getElementById('closeDatePool').removeAttribute('required');
                            }
                        </script>
                    <th>
                </tr>
                <tr>
                    <th style="text-align: left">001</th>
                    <td style="text-align: left">#ID (изм. не подлежит)</td>
                    <td style="text-align: left">
                        <input readonly type="text" th:field="${profession.profId}" placeholder="#ID">
                </tr>
                <tr>
                    <th style="text-align: left">002</th>
                    <td style="text-align: left"><label>Наименование</label></td>
                    <td style="text-align: left">
                        <input type="text" style="width: 500px" th:field="${profession.professionName}"
                               placeholder="только - алфавит: Кириллица">
                        <p if="${#fields.hasErrors('professionName')}" th:errors="${profession.professionName}"></p>
                        <p th:text="${error}" style="font-size: 13px; color: brown"></p>
                </tr>
                <tr>
                    <th style="text-align: left">003</th>
                    <td style="text-align: left"><label>Требуемый уровень профессионального образования</label></td>
                    <td style="text-align: left">
                        <select class="form-select form-select-sm" name="qualityENUM" style="width: 500px">
                            <option th:each="qty:${qualityList}"
                                    th:field="*{qualityENUM}"
                                    th:value="${qty}"
                                    th:text="${qty.getTitle()}">
                            </option>
                        </select>
                        <p style="font-size: 12px">Федеральный закон от 29.12.2012 N 273-ФЗ</p>
                </tr>
                <tr>
                    <th style="text-align: left">004</th>
                    <td style="text-align: left"><label>Подходящие специальности</label></td>
                    <td style="text-align: left">
                    <textarea rows="4" cols="50" type="text" style="width: 500px" th:field="${profession.speciality}"
                              placeholder="только - алфавит: Кириллица, Латинский; цифры; символы: <>|/-_.,;:«»'()#{}№"></textarea>
                        <p if="${#fields.hasErrors('speciality')}" th:errors="${profession.speciality}"
                           style="font-size: 13px; color: brown"></p>
                </tr>
                <tr>
                    <th style="text-align: left">005</th>
                    <td style="text-align: left"><label>Требуемый трудовой стаж</label></td>
                    <td style="text-align: left">
                        <input style="width: 100px;" type="number" th:field="${profession.experience}" min="1" max="30">
                        <p if="${#fields.hasErrors('experience')}" th:errors="${profession.experience}"
                           style="font-size: 13px; color: brown"></p>
                </tr>
                <tr>
                    <th style="text-align: left">006</th>
                    <td style="text-align: left"><label>Дополнительные требования</label></td>
                    <td style="text-align: left">
                    <textarea rows="4" cols="50" type="text" style="width: 500px"
                              th:field="${profession.additionalRequirements}"
                              placeholder="только - алфавит: Кириллица, Латинский; цифры; символы: <>|/-_.,;:«»'()#{}№"></textarea>
                        <p if="${#fields.hasErrors('additionalRequirements')}"
                           th:errors="${profession.additionalRequirements}"
                           style="font-size: 13px; color: brown"></p>
                </tr>
                <tr>
                    <th style="text-align: left">006</th>
                    <td style="text-align: left"><label>Кол-во вакансий</label></td>
                    <td style="text-align: left">
                        <input style="width: 100px;" type="number" th:field="${profession.numOfVacancy}" min="0"
                               max="100">
                        <p if="${#fields.hasErrors('numOfVacancy')}" th:errors="${profession.numOfVacancy}"
                           style="font-size: 13px; color: brown"></p>
                </tr>
                <tr>
                    <th style="text-align: left">007</th>
                    <td style="width: 200px; text-align: left">Базовый оклад, руб.</td>
                    <td><input type="text" style="width: 200px"
                               th:field="${profession.baseSalary}" id="baseSalary">
                        <p if="${#fields.hasErrors('baseSalary')}" th:errors="${profession.baseSalary}"
                           style="font-size: 13px; color: brown"></p>
                        <script>
                            const amountInput = document.getElementById('baseSalary');
                            amountInput.addEventListener('input', function (e) {
                                let value = e.target.value.replace(/[^0-9,]/g, '');
                                let parts = value.split(',');
                                if (parts[1]) {
                                    parts[1] = parts[1].substring(0, 2);
                                }
                                parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ' ');
                                value = parts.join(',');
                                e.target.value = value;
                            });
                        </script>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.jquery.min.js"></script>
<script type="text/javascript">
    $(".livesearch").chosen();
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>