<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Arrow</title>
</head>
<style>
    .main-table {
        display: block;
        width: 100%;
        height: 700px;
        border-collapse: separate;
        border-spacing: 0;
        overflow-y: scroll;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
    }

    .head {
        position: sticky;
        top: 0;
        text-align: left;
        vertical-align: top;
    }

    /* NAVBAR */
    .nav-container {
        display: flex;
        justify-content: space-between;
        background-color: rgb(0, 0, 0);
    }

    .nav-container > nav > ul {
        display: flex;
        list-style: none;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .nav-container > nav > ul > li > a {
        display: block;
        border-style: solid;
        border-width: 0.5px;
    }

    @media (max-width: 900px) {
        .nav-container {
            flex-direction: column;
        }
    }
</style>
<body>
<head>
    <div class="section">
        <div class="nav-container">
            <nav>
                <ul>
                    <li>
                        <form th:action="@{/logout}" method="post">
                            <input type="submit" class="btn btn-danger btn-sm m-2" value="Выход">
                        </form>
                    </li>
                    <li>
                        <div class="btn-group m-2">
                            <a th:href="@{/general}">
                                <button type="button" class="btn btn-light btn-sm">Главное меню</button>
                            </a>
                            <button type="button" class="btn btn-light btn-sm dropdown-toggle dropdown-toggle-split"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                            </button>
                            <ul class="dropdown-menu"
                                style="width: 700px; justify-content: space-between; text-align: center">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12">
                                            <div class="content row">
                                                <div class="column col-lg-4 col-md-6">
                                                    <div class="name-of-column mb-2">
                                                        <span>ПЕРСОНАЛ</span>
                                                    </div>
                                                    <div
                                                            sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_EMPLOYEE_VIEW')">
                                                        <a th:href="@{/general/employee}">
                                                            <button style="width: 210px; text-align: center"
                                                                    type="button"
                                                                    class="btn btn-outline-success btn-sm">
                                                                Работники
                                                            </button>
                                                        </a>
                                                    </div>
                                                    <div
                                                            sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_PROFESSION_VIEW')">
                                                        <a th:href="@{/general/profession}">
                                                            <button style="width: 210px; text-align: center"
                                                                    type="button"
                                                                    class="btn btn-outline-success btn-sm">
                                                                Должности
                                                            </button>
                                                        </a>
                                                    </div>
                                                    <div
                                                            sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_DEPARTMENT_VIEW')">
                                                        <a th:href="@{/general/department}">
                                                            <button style="width: 210px; text-align: center"
                                                                    type="button"
                                                                    class="btn btn-outline-success btn-sm">
                                                                Структурные подразделения
                                                            </button>
                                                        </a>
                                                    </div>
                                                    <div
                                                            sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_SCHEDULE_VIEW')">
                                                        <a th:href="@{/general/schedule}">
                                                            <button style="width: 210px; text-align: center"
                                                                    type="button"
                                                                    class="btn btn-outline-success btn-sm">
                                                                Штатное расписание
                                                            </button>
                                                        </a>
                                                    </div>
                                                    <div
                                                            sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_VOCATION_VIEW')">
                                                        <a th:href="@{/general/vocation}">
                                                            <button style="width: 210px; text-align: center"
                                                                    type="button"
                                                                    class="btn btn-outline-success btn-sm">
                                                                График отпусков
                                                            </button>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-6">
                                                    <div class="name-of-column mb-2">
                                                        <span>АКТИВЫ</span>
                                                    </div>
                                                    <div
                                                            sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_STORE_PERS_INSTR_VIEW')">
                                                        <a th:href="@{/general/p_instrument/catalog}">
                                                            <button style="width: 210px; text-align: center"
                                                                    type="button"
                                                                    class="btn btn-outline-success btn-sm">
                                                                Инструмент персональный
                                                            </button>
                                                        </a>
                                                    </div>
                                                    <div
                                                            sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_STORE_WORK_INSTR_VIEW')">
                                                        <a th:href="@{/general/w_instrument/catalog}">
                                                            <button style="width: 210px; text-align: center"
                                                                    type="button"
                                                                    class="btn btn-outline-success btn-sm">
                                                                Инструмент строительный
                                                            </button>
                                                        </a>
                                                    </div>
                                                    <div
                                                            sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_STORE_MEAS_INSTR_VIEW')">
                                                        <a th:href="@{/general/m_instrument/catalog}">
                                                            <button style="width: 210px; text-align: center"
                                                                    type="button"
                                                                    class="btn btn-outline-success btn-sm">
                                                                Инструмент измерительный
                                                            </button>
                                                        </a>
                                                    </div>
                                                    <div
                                                            sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_STORE_SCLOTH_VIEW')">
                                                        <a th:href="@{/general/s_cloth/catalog}">
                                                            <button style="width: 210px; text-align: center"
                                                                    type="button"
                                                                    class="btn btn-outline-success btn-sm">
                                                                Спецодежда и СИЗ
                                                            </button>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-6">
                                                    <div class="name-of-column mb-2">
                                                        <span>ДЕЯТЕЛЬНОСТЬ</span>
                                                    </div>
                                                    <div
                                                            sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_WORK_OBJECT_VIEW')">
                                                        <a th:href="@{/general/workobject}">
                                                            <button style="width: 210px; text-align: center"
                                                                    type="button"
                                                                    class="btn btn-outline-success btn-sm">
                                                                Объекты работ
                                                            </button>
                                                        </a>
                                                    </div>
                                                    <div
                                                            sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_CONSTR_CONTROL_VIEW')">
                                                        <a th:href="@{/general/constr_control}">
                                                            <button style="width: 210px; text-align: center"
                                                                    type="button"
                                                                    class="btn btn-outline-success btn-sm">
                                                                Строительный контроль
                                                            </button>
                                                        </a>
                                                    </div>
                                                    <div
                                                            sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_DOCUMENT_VIEW')">
                                                        <a th:href="@{/general/documentCommunity}">
                                                            <button style="width: 210px; text-align: center"
                                                                    type="button"
                                                                    class="btn btn-outline-success btn-sm">
                                                                Документация общества
                                                            </button>
                                                        </a>
                                                    </div>
                                                    <div
                                                            sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_PERSPECTIVE_VIEW')">
                                                        <a th:href="@{/general/perspective}">
                                                            <button style="width: 210px; text-align: center"
                                                                    type="button"
                                                                    class="btn btn-outline-success btn-sm">
                                                                Перспективные объекты
                                                            </button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_DOCUMENT_VIEW')">
                            <a th:href="@{/general/documentCommunity}">
                                <button type="button" class="btn btn-warning btn-sm">Назад</button>
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <title></title>
</head>
<div class="tableContainer m-2">
    <h5 style="font-weight: 700">Список удаленных файлов</h5>
    <hr>
    <div>
        <form th:action="@{/general/documentCommunity/delete_List}" th:method="get">
            <table class="table-sm" style="width: 1550px">
                <tbody class="bodySearch">
                <tr>
                    <td style="width: 100px; text-align: left">Поиск...
                    <th style="width: 700px">
                        <input type="text" style="width: 300px; height: 27px" id="byName"
                               onkeyup="myFunctionNAME()"></th>
                    <th style="width: 150px"></th>
                    <th style="width: 300px">
                        <input type="text" style="width: 200px; height: 27px" id="byUser"
                               onkeyup="myFunctionUSER()"></th>
                    <th style="width: 200px">
                        <input type="text" style="width: 180px; height: 27px" id="byDateTime"
                               onkeyup="myFunctionDATETIME()">
                    </th>
                    <th style="width: 100px; text-align: center">
                        <button style="width: 80px" class="btn btn-outline-dark btn-sm"
                                id="resetButton">Очистить
                        </button>
                    </th>
                </tr>
                </tbody>
            </table>
        </form>
        <div class="main-table">
            <table class="table table-hover table-sm" style="width: 1550px" id="employee-table">
                <thead class="head">
                <tr class="table-secondary" style="width: 100px; text-align: left; vertical-align: top">
                    <th style="width: 100px; text-align: left">#ID</th>
                    <th style="width: 700px">
                        <button onclick="sortTable(0)" type="button" class="btn btn-outline-dark btn-sm"
                                style="width: 300px; text-align: left">Наименование документа
                        </button></th>
                    <th style="width: 150px">
                        <button onclick="sortTable(1)" type="button" class="btn btn-outline-dark btn-sm"
                                style="width: 150px; text-align: left">Размер файла
                        </button></th>
                    <th style="width: 300px">
                        <button onclick="sortTable(2)" type="button" class="btn btn-outline-dark btn-sm"
                                style="width: 200px; text-align: left">Удалил
                        </button></th>
                    <th style="width: 200px">
                        <button onclick="sortTable(3)" type="button" class="btn btn-outline-dark btn-sm"
                                style="width: 180px; text-align: left">Дата и время удаления
                        </button></th>
                    <th style="width: 100px; text-align: center"></th>
                </tr>
                </thead>
                <tbody class="body table-group-divider">
                <tr th:each="doc:${documentDeletedList}">
                    <th th:text="${doc.docId}"/>
                    <td><span th:text="${doc.docName}"></span>
                    <td th:text="${doc.size}"/>
                    <td>
                        <span th:with="x=${doc.author.employee != null}">
                            <span th:if="${x}">
                                <a th:href="@{/general/employee/employeeView/{id}(id=${doc.author.employee.empId})}">
                                    <button style="width: 280px; text-align: left" type="button"
                                            class="btn btn-outline-dark btn-sm">
                                        <span th:text="(${doc.author.employee})"></span>
                                    </button></a>
                            </span>
                            <span th:unless="${x}">
                                <span th:text="${'Администратор'}"></span>
                            </span>
                        </span>
                    </td>
                    <td th:text="${#temporals.format(doc.dateAndTimeLastChange,'dd-MM-yyyy HH:mm:ss')}"></td>
                    <td style="width: 100px; text-align: center">
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script>
        function sortTable(n) {
            let table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById("employee-table");
            switching = true;
            dir = "asc";
            while (switching) {
                switching = false;
                rows = table.getElementsByTagName("TR");
                for (i = 1; i < (rows.length - 1); i++) {
                    shouldSwitch = false;
                    x = rows[i].getElementsByTagName("TD")[n];
                    y = rows[i + 1].getElementsByTagName("TD")[n];
                    if (dir === "asc") {
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                            shouldSwitch = true;
                            break;
                        }
                    } else if (dir === "desc") {
                        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
                if (shouldSwitch) {
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                    switchcount++;
                } else {
                    if (switchcount === 0 && dir === "asc") {
                        dir = "desc";
                        switching = true;
                    }
                }
            }
        }
    </script>
    <script>
        function myFunctionNAME() {
            var input, filter, table, tr, td, i;
            input = document.getElementById("byName");
            filter = input.value.toUpperCase();
            table = document.getElementById("employee-table");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
    <script>
        function myFunctionUSER() {
            var input, filter, table, tr, td, i;
            input = document.getElementById("byUser");
            filter = input.value.toUpperCase();
            table = document.getElementById("employee-table");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[2];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
    <script>
        function myFunctionDATETIME() {
            var input, filter, table, tr, td, i;
            input = document.getElementById("byDateTime");
            filter = input.value.toUpperCase();
            table = document.getElementById("employee-table");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[3];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
    <script>
        document.getElementById("resetButton").reset();
    </script>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>