<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>WebInterface</title>
    <style>
        #table1 {
            display: block;
            width: 100%;
            height: 750px;
            border-collapse: separate;
            border-spacing: 0;
            overflow-y: scroll;
            /*-moz-hyphens: auto;*/
            -webkit-hyphens: auto;
            -ms-hyphens: auto;
        }

        #table2 {
            display: block;
            width: 100%;
            height: 150px;
            border-collapse: separate;
            border-spacing: 0;
            overflow-y: scroll;
            /*-moz-hyphens: auto;*/
            -webkit-hyphens: auto;
            -ms-hyphens: auto;
        }

        #table3 {
            display: block;
            width: 100%;
            height: 150px;
            border-collapse: separate;
            border-spacing: 0;
            overflow-y: scroll;
            /*-moz-hyphens: auto;*/
            -webkit-hyphens: auto;
            -ms-hyphens: auto;
        }

        #table4 {
            display: block;
            width: 100%;
            height: 450px;
            border-collapse: separate;
            border-spacing: 0;
            overflow-y: scroll;
            /*-moz-hyphens: auto;*/
            -webkit-hyphens: auto;
            -ms-hyphens: auto;
        }

        .head {
            position: sticky;
            top: 0;
            text-align: left;
            vertical-align: top;
        }

        /* NAVBAR */
        .nav-container {
            display: flex;
            justify-content: space-between;
            background-color: rgb(0, 0, 0);
        }

        .nav-container > nav > ul {
            display: flex;
            list-style: none;
            align-items: center;
            margin: 0;
            padding: 0;
        }

        .nav-container > nav > ul > li > a {
            display: block;
            border-style: solid;
            border-width: 0.5px;
        }

        @media (max-width: 900px) {
            .nav-container {
                flex-direction: column;
            }
        }
    </style>
</head>
<body>
<head>
    <div class="section">
        <div class="nav-container">
            <nav>
                <ul>
                    <li>
                        <form th:action="@{/logout}" method="post">
                            <input type="submit" class="btn btn-danger btn-sm m-2" value="Выход">
                        </form>
                    </li>
                    <li>
                        <div class="btn-group m-2">

                            <a th:href="@{/general}">
                                <button type="button" class="btn btn-light btn-sm">Главное меню</button>
                            </a>
                            <button type="button" class="btn btn-light btn-sm dropdown-toggle dropdown-toggle-split"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                            </button>
                            <ul class="dropdown-menu"
                                style="width: 700px; justify-content: space-between; text-align: center">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12">
                                            <div class="content row">
                                                <div class="column col-lg-4 col-md-6">
                                                    <div class="name-of-column mb-2">
                                                        <span>ПЕРСОНАЛ</span>
                                                    </div>
                                                    <div
                                                            sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_EMPLOYEE_VIEW')">
                                                        <a th:href="@{/general/employee}">
                                                            <button style="width: 210px; text-align: center"
                                                                    type="button"
                                                                    class="btn btn-outline-success btn-sm">
                                                                Работники
                                                            </button>
                                                        </a>
                                                    </div>
                                                    <div
                                                            sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_PROFESSION_VIEW')">
                                                        <a th:href="@{/general/profession}">
                                                            <button style="width: 210px; text-align: center"
                                                                    type="button"
                                                                    class="btn btn-outline-success btn-sm">
                                                                Должности
                                                            </button>
                                                        </a>
                                                    </div>
                                                    <div
                                                            sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_DEPARTMENT_VIEW')">
                                                        <a th:href="@{/general/department}">
                                                            <button style="width: 210px; text-align: center"
                                                                    type="button"
                                                                    class="btn btn-outline-success btn-sm">
                                                                Структурные подразделения
                                                            </button>
                                                        </a>
                                                    </div>
                                                    <div
                                                            sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_SCHEDULE_VIEW')">
                                                        <a th:href="@{/general/schedule}">
                                                            <button style="width: 210px; text-align: center"
                                                                    type="button"
                                                                    class="btn btn-outline-success btn-sm">
                                                                Штатное расписание
                                                            </button>
                                                        </a>
                                                    </div>
                                                    <div
                                                            sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_VOCATION_VIEW')">
                                                        <a th:href="@{/general/vocation}">
                                                            <button style="width: 210px; text-align: center"
                                                                    type="button"
                                                                    class="btn btn-outline-success btn-sm">
                                                                График отпусков
                                                            </button>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-6">
                                                    <div class="name-of-column mb-2">
                                                        <span>АКТИВЫ</span>
                                                    </div>
                                                    <div
                                                            sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_STORE_PERS_INSTR_VIEW')">
                                                        <a th:href="@{/general/p_instrument/catalog}">
                                                            <button style="width: 210px; text-align: center"
                                                                    type="button"
                                                                    class="btn btn-outline-success btn-sm">
                                                                Инструмент персональный
                                                            </button>
                                                        </a>
                                                    </div>
                                                    <div
                                                            sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_STORE_WORK_INSTR_VIEW')">
                                                        <a th:href="@{/general/w_instrument/catalog}">
                                                            <button style="width: 210px; text-align: center"
                                                                    type="button"
                                                                    class="btn btn-outline-success btn-sm">
                                                                Инструмент строительный
                                                            </button>
                                                        </a>
                                                    </div>
                                                    <div
                                                            sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_STORE_MEAS_INSTR_VIEW')">
                                                        <a th:href="@{/general/m_instrument/catalog}">
                                                            <button style="width: 210px; text-align: center"
                                                                    type="button"
                                                                    class="btn btn-outline-success btn-sm">
                                                                Инструмент измерительный
                                                            </button>
                                                        </a>
                                                    </div>
                                                    <div
                                                            sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_STORE_SCLOTH_VIEW')">
                                                        <a th:href="@{/general/s_cloth/catalog}">
                                                            <button style="width: 210px; text-align: center"
                                                                    type="button"
                                                                    class="btn btn-outline-success btn-sm">
                                                                Спецодежда и СИЗ
                                                            </button>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-6">
                                                    <div class="name-of-column mb-2">
                                                        <span>ДЕЯТЕЛЬНОСТЬ</span>
                                                    </div>
                                                    <div
                                                            sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_WORK_OBJECT_VIEW')">
                                                        <a th:href="@{/general/workobject}">
                                                            <button style="width: 210px; text-align: center"
                                                                    type="button"
                                                                    class="btn btn-outline-success btn-sm">
                                                                Объекты работ
                                                            </button>
                                                        </a>
                                                    </div>
                                                    <div
                                                            sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_CONSTR_CONTROL_VIEW')">
                                                        <a th:href="@{/general/constr_control}">
                                                            <button style="width: 210px; text-align: center"
                                                                    type="button"
                                                                    class="btn btn-outline-success btn-sm">
                                                                Строительный контроль
                                                            </button>
                                                        </a>
                                                    </div>
                                                    <div
                                                            sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_DOCUMENT_VIEW')">
                                                        <a th:href="@{/general/documentCommunity}">
                                                            <button style="width: 210px; text-align: center"
                                                                    type="button"
                                                                    class="btn btn-outline-success btn-sm">
                                                                Документация общества
                                                            </button>
                                                        </a>
                                                    </div>
                                                    <div
                                                            sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_PERSPECTIVE_VIEW')">
                                                        <a th:href="@{/general/perspective}">
                                                            <button style="width: 210px; text-align: center"
                                                                    type="button"
                                                                    class="btn btn-outline-success btn-sm">
                                                                Перспективные объекты
                                                            </button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a th:href="@{/general/perspective}">
                                <button type="button" class="btn btn-warning btn-sm m-2">Назад</button>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a th:href="@{/general/perspective/perspectiveJournal/{id}(id=${perspectiveObject.perspectiveId})}">
                                <button type="button" class="btn btn-success btn-sm m-2">Журнал изменений</button>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_PERSPECTIVE_UPDATE')">
                            <a th:href="@{/general/perspective/perspectiveUpdate/{id}(id=${perspectiveObject.perspectiveId})}"
                               th:unless="${perspectiveObject.perspectiveObjectENUM.getTitle() == 'Завершено'}">
                                <button type="button" class="btn btn-primary btn-sm m-2">Править
                                </button>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_PERSPECTIVE_DELETE')">
                            <a th:href="@{/general/perspective/perspectiveDelete/{id}(id=${perspectiveObject.perspectiveId})}">
                                <button onclick="return confirm('Вы действительно хотите безвозвратно удалить эти данные?');"
                                        type="button" class="btn btn-danger btn-sm m-2">Удалить
                                </button>
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <title></title>
</head>
<div class="tableContainer m-2">
    <h5 style="font-weight: 700">Просмотр данных перспективного объекта</h5>
    <hr>
    <table>
        <td>
            <table class="table table-hover table-sm" style="width: 1000px; text-align: center" id="table1">
                <thead class="head">
                <tr class="table-secondary" style="text-align: left; vertical-align: top">
                    <th style="width: 50px; text-align: left">#</th>
                    <th style="width: 350px; text-align: left">Атрибут</th>
                    <th style="width: 900px; text-align: left">Параметр</th>
                </tr>
                </thead>
                <tbody class="body">
                <tr>
                    <th style="text-align: left">
                    <th style="text-align: left"><label>Статус:</label></th>
                    <td style="text-align: left">
                    <span th:text="${perspectiveObject.perspectiveObjectENUM.getTitle()}"
                          th:if="${perspectiveObject.perspectiveObjectENUM.getTitle() == 'В работе'}"></span>
                        <span th:text="${perspectiveObject.perspectiveObjectENUM.getTitle()} +
                    ${#temporals.format(perspectiveObject.dateOfEnd, ' dd-MM-yyyy HH:mm:ss')}"
                              th:if="${perspectiveObject.perspectiveObjectENUM.getTitle() == 'Завершено'}"></span>
                </tr>
                <tr>
                    <th style="text-align: left">001</th>
                    <td style="text-align: left">#ID</td>
                    <td style="text-align: left"><span th:text="${perspectiveObject.perspectiveId}"></span>
                </tr>
                <tr>
                    <th style="text-align: left">002</th>
                    <td style="text-align: left">Лот №</td>
                    <td style="text-align: left"><span th:text="${perspectiveObject.perspectiveLot}"></span>
                </tr>
                <tr>
                    <th style="text-align: left">003</th>
                    <td style="text-align: left">Наименование объекта</td>
                    <td style="text-align: left">
                        <span style="white-space: pre-wrap" th:text="${perspectiveObject.perspectiveName}"></span></td>
                </tr>
                <tr>
                    <th style="text-align: left">004</th>
                    <td style="text-align: left">Заказчик</td>
                    <td style="text-align: left"><span th:text="${perspectiveObject.generalContractor}"></span>
                </tr>
                <tr>
                    <th style="text-align: left" scope="row">005</th>
                    <td style="text-align: left">Задание на расценку</td>
                    <td style="text-align: left">
                        <span style="white-space: pre-wrap" th:text="${perspectiveObject.target}"></span>
                </tr>
                <tr>
                    <th style="text-align: left">006</th>
                    <td style="text-align: left">Срок выполнения</td>
                    <td style="text-align: left">
                    <span th:with="x=${perspectiveObject.dateOfDeadline != null}">
                        <span th:if="${x}">
                    <span th:text="${#temporals.format(perspectiveObject.dateOfDeadline, 'dd-MM-yyyy')}"></span>
                        </span>
                        <span th:unless="${x}">
                            <span style="color: rgba(0,0,0,0.5)" th:text="${'не задана'}"></span>
                        </span>
                    </span>
                </tr>
                <tr>
                    <th style="text-align: left">007</th>
                    <td style="text-align: left">Ответственные за расценку оборудования и материалов</td>
                    <td style="text-align: left">
                    <span th:with="x=${perspectiveObject.employeeEquipmentList.size() != 0}">
                        <span th:if="${x}">
                    <span th:each="emp:${perspectiveObject.employeeEquipmentList}">
                    <a th:href="@{/general/employee/employeeView/{id}(id=${emp.empId})}">
                        <button style="text-align: left; width: 500px" type="button"
                                class="btn btn-outline-dark btn-sm"><span
                                th:text="${emp} + ${', ' + emp.profession.professionName}"></span>
                        </button></a><br></span>
                        </span>
                        <span th:unless="${x}">
                            <span style="color: rgba(0,0,0,0.5)" th:text="${'не назначены'}"></span>
                        </span>
                    </span>
                </tr>
                <tr>
                    <th style="text-align: left">008</th>
                    <td style="text-align: left">Ответственные за расценку стоимости работ</td>
                    <td style="text-align: left">
                    <span th:with="x=${perspectiveObject.employeeWorkList.size() != 0}">
                        <span th:if="${x}">
                    <span th:each="emp:${perspectiveObject.employeeWorkList}">
                    <a th:href="@{/general/employee/employeeView/{id}(id=${emp.empId})}">
                        <button style="text-align: left; width: 500px" type="button"
                                class="btn btn-outline-dark btn-sm"><span
                                th:text="${emp} + ${', ' + emp.profession.professionName}"></span>
                        </button></a><br></span>
                        </span>
                        <span th:unless="${x}">
                            <span style="color: rgba(0,0,0,0.5)" th:text="${'не назначены'}"></span>
                        </span>
                    </span>
                </tr>
                <tr>
                    <th style="text-align: left">009</th>
                    <td style="text-align: left">Наблюдатели за выполнением задания</td>
                    <td style="text-align: left">
                    <span th:with="x=${perspectiveObject.employeeObserverList.size() != 0}">
                        <span th:if="${x}">
                    <span th:each="emp:${perspectiveObject.employeeObserverList}">
                    <a th:href="@{/general/employee/employeeView/{id}(id=${emp.empId})}">
                        <button style="text-align: left; width: 500px" type="button"
                                class="btn btn-outline-dark btn-sm"><span
                                th:text="${emp} + ${', ' + emp.profession.professionName}"></span>
                        </button></a><br></span>
                        </span>
                        <span th:unless="${x}">
                            <span style="color: rgba(0,0,0,0.5)" th:text="${'не назначены'}"></span>
                        </span>
                    </span>
                </tr>
                <tr>
                    <th style="text-align: left">010</th>
                    <td style="text-align: left">Итоговые параметры расценки оборудования и материалов</td>
                    <td style="text-align: left">
                        <table>
                            <tbody>
                            <tr>
                                <td style="width: 200px; text-align: left">Сумма итого, б/НДС</td>
                                <td style="text-align: left">
                                    <span th:with="x=${perspectiveObject.totalPrice != null}">
                                        <span th:if="${x}">
                                            <span th:text="${perspectiveObject.totalPrice}"></span>
                                        </span>
                                        <span th:unless="${x}">
                                            <span style="color: rgba(0,0,0,0.5)"
                                                  th:text="${'файл не загружен'}"></span>
                                        </span>
                                    </span>
                            </tr>
                            <tr>
                                <td style="width: 200px; text-align: left">Кол-во расц. позиций</td>
                                <td style="text-align: left">
                                    <span th:with="x=${perspectiveObject.successCount != null}">
                                        <span th:if="${x}">
                                            <span th:text="${perspectiveObject.successCount}"></span>
                                        </span>
                                        <span th:unless="${x}">
                                            <span style="color: rgba(0,0,0,0.5)"
                                                  th:text="${'файл не загружен'}"></span>
                                        </span>
                                    </span>
                            </tr>
                            <tr>
                                <td style="width: 200px; text-align: left">Общее кол-во позиций</td>
                                <td style="text-align: left">
                                    <span th:with="x=${perspectiveObject.totalCount != null}">
                                        <span th:if="${x}">
                                            <span th:text="${perspectiveObject.totalCount}"></span>
                                        </span>
                                        <span th:unless="${x}">
                                            <span style="color: rgba(0,0,0,0.5)"
                                                  th:text="${'файл не загружен'}"></span>
                                        </span>
                                    </span>
                            </tr>
                            <tr>
                                <td style="width: 200px; text-align: left">Доля расц. позиций</td>
                                <td style="text-align: left">
                                    <span th:with="x=${perspectiveObject.percentOfSuccess != null}">
                                        <span th:if="${x}">
                                            <span th:text="${perspectiveObject.percentOfSuccess}"></span>
                                        </span>
                                        <span th:unless="${x}">
                                            <span style="color: rgba(0,0,0,0.5)"
                                                  th:text="${'файл не загружен'}"></span>
                                        </span>
                                    </span>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
        <td>
            <table id="table2">
                <tbody>
                <tr>
                    <td style="text-align: left">
                        <div th:if="${perspectiveObject.perspectiveObjectENUM.getTitle() != 'Завершено'}
                        AND ${documentListEquip.size() == 0}
                        AND ${perspectiveObject.employeeEquipmentList.contains(user.employee)}
                        OR ${documentListEquip.size() == 0}
                        AND ${adminAccept}">
                            <form id="uploadFilesEquip" name="uploadFilesEquip" method="post"
                                  th:action="@{/general/perspective/perspectiveViewEquip/{id}
                              (id=${perspectiveObject.perspectiveId})}"
                                  encType="multipart/form-data">
                                <span th:text="${error}" style="font-size: 13px; color: brown"></span>
                                <input type="file" name="files" required/>
                                <button type="submit" class="btn btn-success btn-sm">Загрузить</button>
                                <hr>
                            </form>
                        </div>
                        <table class="table table-hover table-sm" style="width: 800px">
                            <thead class="table-secondary" style="text-align: left; vertical-align: top">
                            <td style="width: 450px; text-align: left; font-size: 13px">Расчет стоимости
                                оборудования и материалов</td>
                            <td style="width: 150px; text-align: left; font-size: 13px">Автор загрузки</td>
                            <td style="width: 150px; text-align: left; font-size: 13px">Дата и время</td>
                            <td style="width: 50px; text-align: center"></td>
                            </thead>
                            <tbody>
                            <tr th:each="doc:${documentListEquip}">
                                <td style="width: 450px">
                                    <span th:if="${doc.docName}">
                                        <a th:href="@{/general/documentPerspective/downloadFile/{id}(id=${doc.docId})}">
                                            <button style="text-align: left; width: 440px" type="button"
                                                    class="btn btn-outline-dark btn-sm"><span
                                                    th:text="${doc.docName}"></span></button></a></span></td>
                                <td style="width: 150px">
                                    <span th:with="x=${doc.author.employee != null}">
                                        <span th:if="${x}">
                                            <a th:href="@{/general/employee/employeeView/{id}(id=${doc.author.employee.empId})}">
                                        <button style="width: 150px; text-align: left" type="button"
                                                class="btn btn-outline-dark btn-sm">
                                            <span th:text="${doc.author.employee}"></span></button></a>
                                        </span>
                                        <span th:unless="${x}">
                                            <span th:text="${'Администратор'}"></span>
                                        </span>
                                    </span>
                                </td>
                                <td style="width: 150px; font-size: 14px"
                                    th:text="${#temporals.format(doc.dateAndTimeLastChange,'dd-MM-yyyy HH:mm:ss')}"></td>
                                <td style="width: 50px; text-align: center">
                                    <div th:if="${perspectiveObject.perspectiveObjectENUM.getTitle() != 'Завершено'}
                                    AND ${perspectiveObject.employeeEquipmentList.contains(user.employee)}
                                    OR ${adminAccept}">
                                        <a th:href="@{/general/documentPerspective/documentDeleteEquip/{id}(id=${doc.docId})}">
                                            <button type="button"
                                                    class="btn btn-danger btn-sm"
                                                    style="height: 25px; vertical-align: center">X
                                            </button>
                                        </a>
                                    </div>
                            </tr>
                            </tbody>
                        </table>
                </tr>
                </tbody>
            </table>
            <table id="table3">
                <tbody>
                <tr>
                    <td style="text-align: left">
                        <div th:if="${perspectiveObject.perspectiveObjectENUM.getTitle() != 'Завершено'}
                                 AND ${perspectiveObject.employeeWorkList.contains(user.employee)}
                                 AND ${documentListWork.size() == 0}
                                 OR ${documentListWork.size() == 0}
                                 AND ${adminAccept}">
                            <form id="uploadFilesWork" name="uploadFilesWork" method="post"
                                  th:action="@{/general/perspective/perspectiveViewWork/{id}
                              (id=${perspectiveObject.perspectiveId})}"
                                  encType="multipart/form-data">
                                <span th:text="${error}" style="font-size: 13px; color: brown"></span>
                                <input type="file" name="files" required/>
                                <button type="submit" class="btn btn-success btn-sm">Загрузить</button>
                                <hr>
                            </form>
                        </div>
                        <table class="table table-hover table-sm" style="width: 800px">
                            <thead class="table-secondary" style="text-align: left; vertical-align: top">
                            <td style="width: 450px; text-align: left; font-size: 13px">Расчет стоимости объемов работ</td>
                            <td style="width: 150px; text-align: left; font-size: 13px">Автор загрузки</td>
                            <td style="width: 150px; text-align: left; font-size: 13px">Дата и время</td>
                            <td style="width: 50px; text-align: center"></td>
                            </thead>
                            <tbody>
                            <tr th:each="doc:${documentListWork}">
                                <td style="width: 450px">
                                    <span th:if="${doc.docName}">
                                        <a th:href="@{/general/documentPerspective/downloadFile/{id}(id=${doc.docId})}">
                                            <button style="text-align: left; width: 440px" type="button"
                                                    class="btn btn-outline-dark btn-sm"><span
                                                    th:text="${doc.docName}"></span></button></a></span></td>
                                <td style="width: 150px">
                                    <span th:with="x=${doc.author.employee != null}">
                                        <span th:if="${x}">
                                            <a th:href="@{/general/employee/employeeView/{id}(id=${doc.author.employee.empId})}">
                                        <button style="width: 150px; text-align: left" type="button"
                                                class="btn btn-outline-dark btn-sm">
                                            <span th:text="${doc.author.employee}"></span></button></a>
                                        </span>
                                        <span th:unless="${x}">
                                            <span th:text="${'Администратор'}"></span>
                                        </span>
                                    </span>
                                </td>
                                <td style="width: 150px; font-size: 14px"
                                    th:text="${#temporals.format(doc.dateAndTimeLastChange,'dd-MM-yyyy HH:mm:ss')}"></td>
                                <td style="width: 50px; text-align: center">
                                    <div th:if="${perspectiveObject.perspectiveObjectENUM.getTitle() != 'Завершено'}
                                    AND ${perspectiveObject.employeeWorkList.contains(user.employee)}
                                    OR ${adminAccept}">
                                        <a th:href="@{/general/documentPerspective/documentDeleteWork/{id}(id=${doc.docId})}">
                                            <button type="button"
                                                    class="btn btn-danger btn-sm"
                                                    style="height: 25px; vertical-align: center">X
                                            </button>
                                        </a>
                                    </div>
                            </tr>
                            </tbody>
                        </table>
                </tr>
                </tbody>
            </table>
            <table id="table4">
                <tbody>
                <tr>
                    <td style="text-align: left">
                        <div th:if="${perspectiveObject.perspectiveObjectENUM.getTitle() != 'Завершено'}
                                 AND ${perspectiveObject.employeeEquipmentList.contains(user.employee)}
                                 OR ${perspectiveObject.employeeWorkList.contains(user.employee)}
                                 AND ${perspectiveObject.documentPerspectiveList.size() == 0}
                                 OR ${adminAccept}">
                            <form id="uploadFilesBonus" name="uploadFilesBonus" method="post"
                                  th:action="@{/general/perspective/perspectiveViewBonus/{id}
                              (id=${perspectiveObject.perspectiveId})}"
                                  encType="multipart/form-data">
                                <span th:text="${error}" style="font-size: 13px; color: brown"></span>
                                <input type="file" name="files" multiple required/>
                                <button type="submit" class="btn btn-success btn-sm">Загрузить</button>
                                <hr>
                            </form>
                        </div>
                        <table class="table table-hover table-sm" style="width: 800px">
                            <thead class="table-secondary" style="text-align: left; vertical-align: top">
                            <td style="width: 450px; text-align: left; font-size: 13px">ТКП, счета и прочие документы</td>
                            <td style="width: 150px; text-align: left; font-size: 13px">Автор загрузки</td>
                            <td style="width: 150px; text-align: left; font-size: 13px">Дата и время</td>
                            <td style="width: 50px; text-align: center"></td>
                            </thead>
                            <tbody>
                            <tr th:each="doc:${documentListBonus}">
                                <td style="width: 450px">
                                    <span th:if="${doc.docName}">
                                        <a th:href="@{/general/documentPerspective/downloadFile/{id}(id=${doc.docId})}">
                                            <button style="text-align: left; width: 440px" type="button"
                                                    class="btn btn-outline-dark btn-sm"><span
                                                    th:text="${doc.docName}"></span></button></a></span></td>
                                <td style="width: 150px">
                                    <span th:with="x=${doc.author.employee != null}">
                                        <span th:if="${x}">
                                            <a th:href="@{/general/employee/employeeView/{id}(id=${doc.author.employee.empId})}">
                                        <button style="width: 150px; text-align: left" type="button"
                                                class="btn btn-outline-dark btn-sm">
                                            <span th:text="${doc.author.employee}"></span></button></a>
                                        </span>
                                        <span th:unless="${x}">
                                            <span th:text="${'Администратор'}"></span>
                                        </span>
                                    </span>
                                </td>
                                <td style="width: 150px; font-size: 14px"
                                    th:text="${#temporals.format(doc.dateAndTimeLastChange,'dd-MM-yyyy HH:mm:ss')}"></td>
                                <td style="width: 50px; text-align: center">
                                    <div th:if="${perspectiveObject.perspectiveObjectENUM.getTitle() != 'Завершено'}
                                    AND ${perspectiveObject.employeeEquipmentList.contains(user.employee)}
                                    OR ${perspectiveObject.employeeWorkList.contains(user.employee)}
                                    OR ${adminAccept}">
                                        <a th:href="@{/general/documentPerspective/documentDeleteBonus/{id}(id=${doc.docId})}">
                                            <button type="button"
                                                    class="btn btn-danger btn-sm"
                                                    style="height: 25px; vertical-align: center">X
                                            </button>
                                        </a>
                                    </div>
                            </tr>
                            </tbody>
                        </table>
                </tr>
                </tbody>
            </table>
        </td>
    </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>